body {
  margin: 0;
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
}

h1 {
  margin-top: 0;
  font-size: 5.625rem;
  font-family: 'Nanum Gothic Coding', monospace;
  color: #52734D;
  line-height: 2.5;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 1.25rem;
  color: #66806A;
  line-height: 1;
}

h3 {
  font-family: 'Nanum Gothic Coding', monospace;
  color: #7C9473;
}

hr {
  border-style: dotted none none none;
  width: 3%;
  border-top-width: 7px;
  color: #99A799;
}

.top-container {
  background-color: #DDFFBC;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.middle-container {
  background-color: #D3E4CD;
  padding-top: 10px
}

.bottom-container {
  background-color: #DDFFBC;
  position: relative;
padding: 10px 10px 10px 10px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: justify;
  line-height: 2;
}

.girl-img {
  padding-top: 10px;
  margin-top: 20px;
  background-color: #99A799;
  border-radius: 100%;
}

.top-moon {
  position: absolute;
  left: 15%;
  width: 5.625rem;
  height: 5.625em;
}

.top-rainbow {
  position: absolute;
  right: 15%;
  width: 5.625rem;
  height: 5.625rem;
}

.landscape2 {
  position: relative;
  bottom: 0;
  padding-top: 100px;
}
.ing-img{
  float: left;
  margin-right:  30px;

}
.develope{
  float:right;
  margin-left: 30px;


}
.tenis{
  float: left;
  margin-right: 30px;
}

.box{
  float:right;
  margin-left: 30px;
}

.btn{
  background: #DDFFBC;
  border-radius: 8px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 15px;
  color:#52734D;
  text-decoration: none;
  padding: 10px 10px 10px 10px;

}
.i {
    outline: 1px solid #803156;
    position: absolute;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-right: 100px;
}
